<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Billing Successfull</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

      <!-- Responsive-->
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='responsive.css') }}">
      <!-- fevicon -->
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery.mCustomScrollbar.min.css') }}">
      <!-- Tweaks for older IEs-->
      <!-- owl stylesheets --> 
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='owl.carousel.min.css') }}">

      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='owl.theme.default.min.css') }}">
   </head>
   <body>
      <!-- header section start -->
      <div class="header_section" style="background-image: url({{ url_for('static', filename='images/banner-bg.png') }});">
         <div class="container-fluid header_main">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <a class="logo" href="#"><h1 style="font-weight: bold;">Billing Successfull</h1></a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                     <li class="nav-item">
                        <a class="nav-link" href="index.html">Home</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="features.html">Features</a>
                     </li>
                  </ul>
               </div>
            </nav>
         </div>
         <!-- banner section start --> 
         <div class="container-fluid">
           <div class="banner_section layout_padding" style="background-image: url({{ url_for('static', filename='images/banner-img.png') }});">
               <h1 class="banner_taital">welcome <br>Vege Buy</h1>
               <div id="my_slider" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                     <div class="carousel-item active">
                        <div class="image_main">
                           <div class="container">
                              <img src="{{ url_for('static', filename='images/img-1.png') }}" class="image_1">
                              <form action="/app.html" method="post">
                              <button id="btn" type="submit" class="contact_bt">START</button>
                              </form>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-item">
                        <div class="image_main">
                           <div class="container">
                              <img src="{{ url_for('static', filename='images/img-5.png') }}" class="image_1">
                              <form action="/app.html" method="post">
                              <button id="btn" type="submit" class="contact_bt">START</button>
                              </form>		
                           </div>
                        </div>
                     </div>
                     <div class="carousel-item">
                        <div class="image_main">
                           <div class="container">
                              <img src="{{ url_for('static', filename='images/img-3.png') }}" class="image_1">
							  <form action="/app.html" method="post">
                              <button id="btn" type="submit" class="contact_bt">SHOP AGAIN</button>
                              </form>
                           </div>
                        </div>
                     </div>
                  </div>
                  <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
                  <i class="fa fa-angle-left"></i>
                  </a>
                  <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
                  <i class="fa fa-angle-right"></i>
                  </a>
               </div>
            </div>
         </div>
         <!-- banner section end --> 
      </div>
      <!-- header section end --> 
      <!-- copyright section end -->
      <!-- Javascript files-->
      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/jquery-3.0.0.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/plugin.js') }}"></script>
      <!-- sidebar -->
      <script src="{{ url_for('static', filename='js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
      <!-- javascript --> 
      <script src="{{ url_for('static', filename='js/owl.carousel.js') }}"></script>
   </body>
</html>
